@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}


.second_screen_wrapper{
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red ; */
    display: flex;
    flex-wrap: wrap;
   
}


.part{
    width: 50%;
    height: 50%;
    border: 2px solid rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  font-family: 'Space Mono', monospace;
  border: 1px solid rgb(255, 255, 255) ;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.543);
  
}







@media screen and (max-width:1000px)  {

    h1{
        font-size: 18px;
    }
    .second_screen_wrapper{
        /* display: flex; */
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .part{
        width: 100%;
    }
}






















