@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.second_screen_wrapper{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red ; */
    display: flex;
    flex-wrap: wrap;
}


.part{
    width: 50%;
    height: 50%;
    border: 2px solid rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  font-family: 'Space Mono', monospace;
  border: 1px solid rgb(255, 255, 255) ;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.543);
  
}

/* .part_1{
    background: url("./animation/Untitled_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/* img{
    width: 100%;
    height: 100%;
} */



.part_4{
    background: url("./Vid_and_gif_files/gif/674bf9b1-db71-4bd0-b2f8-f88c99894e9e.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .solarSytemInet{
    width: 100%;
    height: 100%;
    border: 20px solid red ;
} */




















